# Mantener fuera del paquete cualquier variante privada de enlaces precargados
js/config/default.affiliate.js

# Ignorar la carpeta de imagenes para la extensión
screenshots/

# Paquetes generados
dist/
cmdCreatePublishableVersion.bat
notes/